.Ul-Father {
  display: flex;
  gap: 5%;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .Ul-Father {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
  }
}

.text-card {
  text-align: center;
}
.title {
  font-size: 5vh;
  -webkit-text-stroke: 1px green; /* Adicione uma borda de 1 pixel na cor verde */
  color: white;
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 300px;
  height: 300px;
}

@media(max-width: 800px){
    .image{ 
        width: 150px;    
        height: 150px;    
    }
}

@media (max-width: 800px) {
  .carousel-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.li-Alive,
.li-Death {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  width: 100%;
  margin-top: 15%;
}
.li-Death {
  background-color: red;
}

@media (max-width: 800px) {
  .li-Alive,
  .li-Death {
    height: 50%;
    width: 20%;
  }
}
