
.Ul-Father{
   display: flex;
    /* width: 0%; */
    align-items: flex-start;
    flex-wrap: wrap;
}

@media(max-width: 800px){
    .Ul-Father{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 10rem;
        align-items: flex-start;
        justify-content: center;
    }
}

.li-Alive, .li-Death{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    /* margin-bottom: 5%; */
    /* margin-left: 2rem; */
    /* gap: 37%; */
    background-color: green;
    width: 100%;
    margin-top: 15%;
}
.li-Death{
    background-color: red;
}